[Desktop Entry]
Name=RGB GPUs Teaming (Advisor)
Comment=Help to find GPUs for the RGB GPUs Teaming scripts
Exec=/opt/RGB-GPUs-Teaming.OP/advisor.sh %F
TryExec=/opt/RGB-GPUs-Teaming.OP/advisor.sh
Icon=help-contents
Terminal=true
Type=Application
Categories=Utility;
StartupNotify=true
