[Desktop Entry]
Name=All-Ways-eGPU (Auto mode)
GenericName=Wayland eGPU auto script
Comment=Auto script for setting eGPU as primary for Wayland desktops
Exec=/opt/rgb-gpus-teaming/all-ways-egpu-auto-setup.sh %F
TryExec=/opt/rgb-gpus-teaming/all-ways-egpu-auto-setup.sh
Terminal=true
Type=Application
Categories=System;Settings;Utility;
Keywords=system;hardware;
StartupNotify=true
