[Desktop Entry]
Name=RGB GPUs Teaming (GNOME)
Comment=Configure applications with RGB GPUs Teaming
Exec=/opt/rgb-gpus-teaming/gnome-setup.sh %F
TryExec=/opt/rgb-gpus-teaming/gnome-setup.sh
Icon=system-component-addon
Terminal=true
Type=Application
Categories=Utility;
StartupNotify=true
