[Desktop Entry]
Name=RGB GPUs Teaming [Vulkan]
Comment=Launch applications with RGB GPUs Teaming on Vulkan (Experimental)
Exec=/opt/rgb-gpus-teaming/manual-setup-vulkan.sh %F
TryExec=/opt/rgb-gpus-teaming/manual-setup-vulkan.sh
Icon=/opt/rgb-gpus-teaming/icon/manual-setup-vulkan.ico
Terminal=true
Type=Application
Categories=Utility;
StartupNotify=true

[Desktop Action sudo]
Name=Run an root
Exec=sudo /opt/rgb-gpus-teaming/manual-setup-vulkan.sh