[Desktop Entry]
Name=RGB GPUs Teaming
Comment=Launch applications with RGB GPUs Teaming
Exec=/opt/rgb-gpus-teaming/manual-setup.sh %F
TryExec=/opt/rgb-gpus-teaming/manual-setup.sh
Icon=jockey
Terminal=true
Type=Application
Categories=Utility;
StartupNotify=true
