[Desktop Entry]
Name=RGB GPUs Teaming
Comment=Launch applications with RGB GPUs Teaming
Exec=/opt/RGB-GPUs-Teaming.OP/manual-setup.sh %F
TryExec=/opt/RGB-GPUs-Teaming.OP/manual-setup.sh
Icon=jockey
Terminal=true
Type=Application
Categories=Utility;
StartupNotify=true
